.c-top {
    margin: 0;
    padding: 0;
}

.c-main {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 76px 0 0 0;
    padding: 0;
}

.header {
    z-index: -1
}


/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
    height: 12px
}
.module-spacer--extra-small {
    height: 12px
}
.module-spacer--small {
    height: 20px
}
.module-spacer--medium {
    height: 32px
}

  
/* ********** section ********** */
.c-section-wrapin {
    margin: 0 auto;
    max-width: 575px;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
}

.c-section-container {
    /* 要素中央寄せ */
    margin: 0 auto;
    /* 細長いコンテナにする */
    max-width: 400px;
    padding: 1rem;
    height: auto;
    /* 少しだけ間を開ける */
    width: calc(100% - 2rem);
}

.p-grid_row {
    display: flex;
    flex-flow: row wrap;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-display-none {
    display: none;
}

@media screen and (min-width: 576px) {

    /* ********** section ********** */
    .c-section-wrapin {
        max-width: 1024px;
    }
}
